name: Update Currency Rates

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  update-rates:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Fetch rates
        run: |
          curl -o latest.json https://v6.exchangerate-api.com/v6/7ad8cba196c5689bc39521ae/latest/USD

      - name: Commit file
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add latest.json
          git commit -m "Update currency rates" || echo "No changes"
          git push
